server:
  port: 8080
app:
  secret: ${APP_JWT_SECRET}
  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
    app-address: ${APP_ADDRESS}
  admin:
    email: ${ADMIN_EMAIL}

spring:
  application:
    name: ps_quiz

  mail:
    host: ${MAIL_HOST}
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: ${MAIL_PROTOCOL}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          starttls:
            enable: false

  task:
    execution:
      pool:
        core-size: 5
        max-size: 10

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:6432/ps_quiz_db}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
    show-sql: false # true # для разработки
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
    org.springframework.transaction: INFO
    org.springframework.orm.jpa: INFO